# Rest Config
SERVER_PORT=3000

# MariaDB config
MARIADB_HOST=localhost
MARIADB_PORT=3306
MARIADB_DB=persona_db
MARIADB_USER=root
MARIADB_PASSWORD=root

# MongoDB config
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB=persona_db
MONGO_USER=root
MONGO_PASSWORD=root
MONGO_AUTH_DB=admin